@media (max-width: 960px) {
  body {
    height: 300vh;
  }
  nav {
    padding: 10px 5px;
    justify-content: space-evenly;
    box-shadow: 1px 1px 10px grey;
  }
  nav .logo img {
    width: 200px;
    height: 30px;
    object-fit: cover;
    border-radius: 3px;
  }
  nav .navlinks {
    width: fit-content;
    margin: auto;
  }
  nav .navlinks ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
    width: fit-content;
  }
  nav .navlinks ul li a {
    padding: 5px 10px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 2px;
    transition: 0.5s ease;
    font-size: 0.875em;
  }

  nav .contact a {
    background-color: blue;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.875em;
  }

  nav .contact {
    width: fit-content;
  }
}

@media (max-width: 670px) {
  nav {
    justify-content: space-between;
  }
  nav .navlinks {
    display: none;
  }
   nav .contact {
    display: none;
  }

  nav button#openBtn {
    display: flex;
  }
  nav button#openBtn:active{
    background-color: transparent;
  }
  div.mobileMenu {
    display: flex;
  }
}
